body{
    text-align: center;
}
#image1{
    width: 700px;
    height: 500px;
}
#heading1{
    font-size: 50px;
    color: red;
}
#heading2{
    font-size: 30px;
    color: rgb(105, 105, 7);
}

#line{
    width: 80%;
}

#para1{
    font-size: 30px;
    color: brown;
}
